/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_self
 */

 @import url("https://fonts.googleapis.com/css?family=Lato:400,900");
 

 html, body, header, nav, h1, a,
 ul, li, strong, main, button, i,
 section, img, div, h2, p, form,
 fieldset, label, input, textarea,
 span, article, footer, time, small {
   margin: 0;
   padding: 0;
   // border: 0;
   // outline: 0;
   font-family: 'Lato', "Lato", Helvetica;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 img {
   display: block;
   width: 100%;
   height: auto;
 }

 input,
 textarea,
 button {
   border: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
 }

body {
  color: #333333;
  font-family: "Lato", Helvetica;
}

.login-signup {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-right: 0px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;

  height: 18px;
  color: #333333;
   border-bottom: 1px solid #ebebeb;

}


.login-signup-button {
  margin: auto;
  margin-right: 0px;
  text-transform: capitalize;
  font-size: $font-size;

}

.header-name {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: normal;
}

.header-name:hover {
  border-bottom: 2px solid #40d9ac;
  padding-bottom: 3px;
}

.signup-button {
  font-size: $font-size;
}

.login-button {
  font-size: $font-size;
  margin-left: 8px;
}

.demo-user-button {
  color:  #40d9ac;
  font-size: $font-size;
  margin: 5px;
  border: 1px solid rgb(64, 217, 172);
  padding: 3px;
 transition: .3s;
  
}

.demo-user-button:hover {
  font-size: $font-size;
  margin: 5px;
  color: white;
  border:  $border;
  background-color: #40d9ac;
  padding: 3px;
  border: 1px  solid rgb(64, 217, 172);
  
}


.header-name-button {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-right: 0px;
  vertical-align: middle;
}

.signup-button:hover {
  border-bottom: 2px solid #40d9ac;
  padding-bottom: 3px;
}

.login-button:hover {
  border-bottom: 2px solid #40d9ac;
  padding-bottom: 3px;
}

.login-form label {
  width: 250px;
  text-align: right;
}


.login-form-container {
  display: flex;
  align-items: center;
  text-align: center;
}


.header-button {
  margin-right: 0px;
  margin-left: 8px;
  font-size: $font-size;
  height: 18px;

}

.header-button:hover {
  border-bottom: 2px solid #40d9ac;
  padding-bottom: 3px;
}

.session-welcome-header {
  font-size: $font-size;
  margin-bottom: 8px;
  font-weight: bold;
}

.modal-discover-caption {
  font-size: $font-size;
  color: gray;
}

.session-form-input {
  color: black;
  margin-top: 5px;
  border-width: 10px;
  border: $border;
  border-style: solid;
  width: 180px;
  height: 40px;
  text-align: left;
  border-radius: 3px;
  padding-left: 5px;
  font-family: $font-family;
  margin-left: 0px;

}

.session-submit {
  text-transform: capitalize;
  border: 1px solid gray;
  font-family: $font-family;
  margin: 10px;
  font-size: $font-size;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: rgb(64, 217, 172);
  color: white;
  width: 100%;
}
.session-options {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: underline

}


.session-question {
  margin: 10px;
  font-family: $font-family;
  font-size: $font-size;
}
.session-errors {
  color: red;
}

.session-other {
  border-bottom: 1px solid gray;
}

.session-demo {
  border-bottom: 1px solid gray;
}




.login-form-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.login-form-box {
  padding: 40px;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px grey;
  bottom: 70px;

}


.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $font-family;
  font-size: $font-size;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-x {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.session-form-input-login-input{
  
    border: 1px solid gray;
   
    height: 40px;
    text-align: left;
    border-radius: 3px;
    padding-left: 5px;
    
    margin: 5px;
    width: 85px;
}

