.site_form_container{
    display: flex;
    margin: 0, auto;
    top: 10px;
    border: $border;

}

.site_form{
display: flex;
    margin: 0, auto;
    top: 10px;
    border: $border;
    align-items: center;
}