.login-form-container{
    display: block;
    width: 200px;
    height: 300px;
   border: 1px solid black;
   text-align: center;
  margin: 0 auto;
}

.login-form{
    display: flex;
    flex-direction: column;

    input {
        border: 1px solid black;
    }
    margin: 10px;
    padding: 2px;
}
.login_form_names {
    display: flex;
    margin: 5px;
    padding: 2px;
    width: 50%;
    
}

.login_form_email{
     
    margin: 5px;
    padding: 2px;
}

.login_form_password{
     
    margin: 5px;
    padding: 2px;
}

.login_form_zip_code{
    
    margin: 5px;
    padding: 2px;
}
.session-submit{
   
    margin: 5px;
    padding: 2px;
    width: 55px;
}

.login-form-message{
   
    color: grey;
    font-size: 0.8rem;
}